<a href="https://colab.research.google.com/github/bcdanl/210-code/blob/main/danl_210_script_2025_0203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
orig_number = 4.39898498
type(orig_number)

float

In [2]:
mod_number = int(orig_number)
mod_number
type(mod_number)

int

In [3]:
mod_number

4

In [4]:
int(6.8)

6

In [5]:
int("19")

19

In [6]:
int("$19")

ValueError: invalid literal for int() with base 10: '$19'

In [7]:
cities_to_temps = {"Paris": 28, "London": 22, "New York": 36, "Seoul": 29}

cities_to_temps.keys()

dict_keys(['Paris', 'London', 'New York', 'Seoul'])

In [9]:
type(list(cities_to_temps.keys()))

list

In [10]:

cities_to_temps.values()

dict_values([28, 22, 36, 29])

In [11]:
cities_to_temps.items()

dict_items([('Paris', 28), ('London', 22), ('New York', 36), ('Seoul', 29)])

In [14]:
lst = []
type(lst)

list

# Boolean

In [15]:
10 == 20

False

In [16]:
10 = '10'

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-16-d36570630c28>, line 1)

In [18]:
10 == '10'

False

In [19]:
boolean_condition1 = 10 == 20
print(boolean_condition1)

False

In [20]:

boolean_condition2 = 10 == '10'
print(boolean_condition2)

False

In [21]:
not(not True)

True

# CW 4.2

In [22]:
20 == '20'

False

In [24]:
x = 4.0
y = .5

x < y

False

In [25]:
 3*y < x

True

In [26]:
x < y or 3*y < x

True

In [27]:
name = "Geneseo"
score = 99

In [28]:
name == "Geneseo" and score > 90

True

In [29]:
if name == "Geneseo" and score > 90:
  print("Geneseo, you achieved a high score.")

Geneseo, you achieved a high score.

In [30]:

if name == "Geneseo" or score > 90:
    print("You could be called Geneseo or have a high score")

You could be called Geneseo or have a high score

In [31]:

if name != "Geneseo" and score > 90:
    print("You are not called Geneseo and you have a high score")

In [32]:
name_list = ["Lovelace", "Smith", "Hopper", "Babbage"]

print("Lovelace" in name_list)

True

In [33]:

print("Bob" in name_list)

False

In [34]:
"a" in "Sun Devil Arena"

True

In [35]:
"a" in "Anyone"

False

In [36]:
score = 98

if score == 100:
    print("Top marks!")
elif score > 90 and score < 100:
    print("High score!")
elif score > 10 and score <= 90:
    pass
else:
    print("Better luck next time.")

High score!

In [37]:
score = 75

if score == 100:
    print("Top marks!")
elif score > 90 and score < 100:
    print("High score!")
elif score > 10 and score <= 90:
    pass
else:
    print("Better luck next time.")

# Slicing

In [38]:
string = "cheesecake"
print( string[-4:] )

cake

In [39]:
string = "cheesecake"
print("String has length:")
print( len(string) )

String has length:
10

In [40]:
list_of_numbers = range(1, 20)
print("List of numbers has length:")
print( len(list_of_numbers) )

List of numbers has length:
19

In [41]:
list(list_of_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]